@model Exam.Data.Tbl_Question

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Tbl_Question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QuestionType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionIsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionIsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDatetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDatetime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionImageUrl1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionImageUrl1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionImageUrl2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionImageUrl2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionFileUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionFileUrl)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PK_QuestionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
